# Application
PORT=3000
CORS_ORIGINS=https://front-pyments.onrender.com

# Postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/core_payments?schema=public

# Wompi (sandbox)
WOMPI_PUBLIC_KEY=pub_test_xxx
WOMPI_PRIVATE_KEY=prv_test_xxx
WOMPI_INTEGRITY_SECRET=integrity_test_xxx
WOMPI_EVENTS_SECRET=events_test_xxx
WOMPI_CHECKOUT_URL=https://checkout.wompi.co/p/
WOMPI_REDIRECT_URL=http://localhost:3000/payment/result

# Fees (in centavos)
BASE_FEE_IN_CENTS=250000
SHIPPING_FEE_IN_CENTS=300000

# Currency
CURRENCY=COP
